@layout LoginRegisterLayout
@inherits LayoutComponentBase

<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-lg-12 row">
            <div class="col-6" style="border-right:groove; display: flex; justify-content: center; align-items: center;">
                <img src="/RagChatLogo1.jpeg" width="500px" height="500px" style="max-width: 100%; max-height: 100%;" />
            </div>
            <div class="col-6" style="border-left:groove">
                @Body
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>

@code {

}
